<template>
  <div id="landing-page">
    <h1>hello</h1>
    <codemirror v-model="code" :options="cmOptions"></codemirror>
  </div>
</template>

<script>
import { codemirror } from 'vue-codemirror'
import 'codemirror/lib/codemirror.css'
export default {
  name: 'landing-page',
  components: {
    codemirror
  },
  data () {
    return {
      code: null,
      cmOptions: {
        // codemirror options
        tabSize: 4,
        mode: 'gherkin',
        theme: 'base16-dark',
        lineNumbers: true,
        line: true,
        // more codemirror options, 更多 codemirror 的高级配置...
      }
    }
  }
}
</script>
